#ignore matlab backup files
*.m~
#ignore eps files
*.eps
#Ignore GUI signals
Code/Figures
#ignore gui
*.ui
# Ignore CSV files
*.csv
# Ignore pickled models
*.pkl
# Ignore python cache files
*.pyc
# Ignore latex build files
*.aux
*.log
*.out
# Ignore latex .bib build files
*.bbl
*.blg
# Ignore vscode files
.vscode
# Ignore audio files
*.wav
# Ignore Beamer.tex files
*.toc
*.nav
*.gz
